@import url('https://fonts.googleapis.com/css2?&family=Orbitron:wght@600&display=swap');

#entete h1 {
	color: #FF4C29;
	font-family: 'Orbitron', sans-serif;
	display: inline-block;
}

#entete img {
	width: 150px;
}

#menu {
	font-family: 'Orbitron', sans-serif;
    margin-top: 2%;
    list-style: none;	
}

#menu li {
	display: inline;
}

#menu a {
	color: #FF4C29;
	text-decoration: none;
	padding: 20px;
}